body {
    margin: 0 auto;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    width: 90%;
    color: rgb(52, 48, 48);
}

.slider-container {
    text-align: center;
    margin: 30px;
}

.tag {
    text-align: left;
}

.slider {
    margin: 0 auto;
    min-width: 100px;
    /*height: 80vh;*/
    border-color: white;
}
