#image-container {
}

#logo-container {
    height: 20px;
    display: flex;
    padding: 18px 14px 18px 16px;
}

#react-logo-image {
    object-fit: cover;
}

#react-logo-text {
    font-size: 20px;
}

.react-logo-site-description {
    font-size: 15px;
}